@import "../components.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tweet {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 0;
  border: 1px solid $border-color;
  background: $background-color;

  .photo {
    border-radius: 100%;
    height: 2.5em;
    width: 2.5em;
    background: $accent-color;
    margin-left: 0.5em;

    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
    width: 100%;


    .tweet-header {
      display: flex;
      justify-content: space-between;

      .names {
        display: flex;
        flex-direction: row;

        .tweet-name {
          font-weight: bold;
          color: $text-color;
          margin-right: 0.2em;
        }

        .badge {
          width: 1em;
          height: 1em;
          top: 0.2em;
          position: relative;
        }

        .tweet-username {
          margin-left: 0.3em;
          color: darken($text-color, 20%);
        }

        .dot {
          color: darken($text-color, 20%);
          margin-left: 0.5em;
          margin-right: 0.5em;
        }

        .time {
          color: darken($text-color, 20%);
        }
      }

      .options {
        button {
          background: none;
          border: none;
          padding: 0.5em;

          &:hover {
            background: transparentize($accent-color, 0.9);
            border-radius: 100%;
            cursor: pointer;
          }

          svg {
            width: 1em;
            height: 1em;
          }
        }
      }
    }

    .interactions {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-top: 0.5em;
      cursor: pointer;

      .replies, .retweets, .likes, .analytics, .options {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: darken($text-color, 20%);
        font-size: 0.9em;
        margin-right: 1em;
      }

      .options {
        padding-top: 0.5em;
      }

      .retweets svg:hover {
        fill: $retweet-color;
        background-color: transparentize($retweet-color, 0.9);
      }
      .likes svg:hover {
        fill: $like-color;
        background-color: transparentize($like-color, 0.9);
      }

      svg {
        width: 1.2em;
        height: 1.2em;
        margin-right: 0.5em;
        fill: darken($text-color, 20%);
        transition: fill 0.2s;
        border-radius: 100%;

        &:hover {
          fill: $accent-color;
          background-color: transparentize($accent-color, 0.9);
        }
      }


      .options {
        display: flex;
        flex-direction: row;
        margin-left: 0.5em;

        button {
          background: none;
          border: none;
          padding: 0.5em;
          cursor: pointer;

        }
      }
    }
  }
}