@import "../components.scss";

.left-pane {
  background: $background-color;
  color: $text-color;
  min-height: 100vh;

  header {
    svg {
      height: 1.9em;
      margin-top: 0.7em;
      margin-bottom: 0.7em;
      margin-left: 2em;
    }
  }

  nav {
    padding-left: 3.3em;

    svg {
      height: 1.3em;
      margin-right: 0.9em;
    }
  }

  nav > *, button.more {
    display: block;
    text-decoration: none;
    color: $text-color;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 500;
    width: 100%;

    span {
      display: flex;
      align-items: center;
      height: 2.7em;
      width: fit-content;
      padding: 0 0.7em;
    }

    &:hover span {
      color: $accent-color;
      border-radius: 1.5em;
      background: #192734;
    }
  }

  button {
    background: none;
    border: none;

    &.tweet {
      display: block;
      background: $accent-color;
      color: $text-color;
      width: 14em;
      height: 3em;
      border-radius: 1.5em;
      font-size: 1em;
      margin-top: 0.5em;
      margin-left: 3.7em;
      cursor: pointer;

      &:hover {
        background: darken($accent-color, 10%);
      }
    }
  }
}