@import "../components.scss";

.left-pane {
  background: $background-color;
  color: $text-color;
  min-height: 100vh;
}

nav {
  padding-left: 3.3em;
}


nav > *, button.more {
  display: block;
  text-decoration: none;
  color: $text-color;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 500;
  width: 100%;

  span {
    display: flex;
    align-items: center;
    height: 2.4em;
    width: fit-content;
    padding: 0 0.7em;
  }

  &:hover span {
    color: $accent-color;
    border-radius: 1.5em;
    background: #192734;
  }
}

button {
  background: none;
  border: none;

}