@import "../components.scss";

.sender {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background: darken($border-color, 5%);
  height: 3rem;
  padding: 0 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 1rem;

  input {
    background: none;
    border: none;
    color: $text-color;
    font-size: 1rem;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;

    &:focus {
      outline: none;
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: $accent-color;
    font-size: 1.5rem;
    font-weight: 600;
  }
}