$background-color: #15202b;
$text-color: #f7f9f9;
$accent-color: #1da1f2;
$like-color: #e0245e;
* {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: #000000;
  color: #f7f9f9;
}

.route-content {
  grid-column: 2;

}

.right-pane {
  grid-column: 3;
  background: $background-color;
  color: $text-color;
  min-height: 100vh;
}